@charset "UTF-8";

header{
    background-color: black;
    color: white;
    margin-top:auto;
    text-align: center;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.438);
}
h1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 6em;
   margin:auto;
   text-shadow: 1px 1.4px 4px rgba(255, 255, 255, 0.438);
   padding-top: 30px;
}
nav{
    padding-bottom:20px;
    font-family:Arial, Helvetica, sans-serif;
}
nav>p>a{
    text-decoration: none;
    color:white;
}
nav>p>a:hover{
    text-decoration: underline;
}
body{
    margin:auto;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 1.8em;
}
section.normal{
    background-color: white;
    color:black
}
section.imagem{
    background-color: rgb(51,51,51);
    color:white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url('conteudo/background001.jpg');
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url('conteudo/background002.jpg');
}
footer{
    background-color: black;
    color:white;
    text-align:center;
    padding:1px;
}
footer>p>a{
    color:white;
    margin:auto;
    padding-bottom:0px;
    text-decoration: none;
}
footer>p>a:hover{
    text-decoration:underline;
}